<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GpsGisServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GpsGisServices.Properties.Settings>
            <setting name="GpsGisServices_WebGISservice_WebgisService" serializeAs="String">
                <value>http://219.153.13.108:7260/stargis/openlayers/WebgisService.asmx</value>
            </setting>
            <setting name="GpsGisServices_PlatformAlarmWebReference_AlarmService"
                serializeAs="String">
                <value>http://219.153.13.108:7260/StarGIS/Service/AlarmService.asmx</value>
            </setting>
        </GpsGisServices.Properties.Settings>
    </applicationSettings>
</configuration>